/*

footer style

*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparentize($secondaryColor, 0.3);
    height: 100vh;
    .columns {
        width: 100%;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
        p {
            padding-left: 3vw;
            font-size: 1.3em;
            &:first-child {
                padding-bottom: 2vh;
            }
            &:last-child {
                line-height: 2;
                margin-bottom: 2vh;
            }
            .fa {
                font-size: 2em;
                padding-right: .5em;
            }
            a {
                text-decoration: none;
                color: $primaryColor;
            }
        }
    }
    h2 {
        font-size: 1.8em;
        padding-left: 3vw;
        padding-top: 3vh;
        padding-bottom: 1.5vh;
    }
    p {
        color: $primaryColor;
    }
    .footer-image {
        height: 55vh;
        width: 100%;
        background-image: $footerMobileImage;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include tablet {
            background-image: $footerTabletImage;
        }
        @include desktop {
            background-image: $footerDesktopImage;
            height: 65vh;
        }
    }
    .copyright {
        width: 100%;
        background-color: transparentize($textColor, 0.8);
        padding: 1.5vh 0;
    }
}