/* ----------------- footer style --------------------*/

footer {
    width: 100%;
    height: 100vh;
    background-color: transparentize($secondaryColor, 0.3);
    > section { /* contains all contact info */
        min-height: 60vh;
        @include tablet {
            min-height: 40vh;
        }
        @include tablet-landscape {
            min-height: 35vh;
        }
        @include desktop {
            min-height: 35vh;
        }
    }
    h2 {
        margin-bottom: 1.2rem;
    }
    address { /* split into two columns if not mobile portrait */
        width: 100%;
        padding-left: 3vh;
        @include mobile-landscape {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
        @include tablet {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
        @include tablet-landscape {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
        @include desktop {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
        }
        p {
            &:first-child {
                margin-bottom: 1.5rem;
            }
            .fa {
                margin-right: .5rem;
                font-size: 2rem;
                position: relative;
                top: .5rem;
            }
        }
    }
    p {
        color: $primaryColor;
    }
    > div { /* contains footer image and copyright info bar */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 40vh;
        width: 100%;
        background-image: $footerMobileImage;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        @include tablet {
            background-image: $footerTabletImage;
            height: 60vh;
        }
        @include tablet-landscape {
            background-image: $footerTabletImage;
            height: 65vh;
        }
        @include desktop {
            background-image: $footerDesktopImage;
            height: 65vh;
        }
    }
    .copyright {
        width: 100%;
        padding: 1.5vh 0;
        font-size: .8rem;
        background-color: transparentize($textColor, 0.6);
        p {
            margin: auto;
            text-align: center;
        }
    }
}