/* ----------------- b2b contact form style --------------------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1.5vh 1.5vw;
    background-color: transparentize($altColor, 0.6);
    label {
        position: relative;
        width: 100%;
        font-family: $headerFont;
        font-size: 1.1rem;
    }
    input {
        width: 100%;
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        font-family: $primaryFont; 

    }
    .fa-check-circle {
        display: none;
        position: absolute;
        right: 1rem;
        top: 2.7rem;
        font-size: 2rem;
        color: $secondaryColor;
    }
    textarea {
        width: 100%;
        height: 16rem;
        margin-top: 0.5rem;
        border: none;
        resize: none;
        font-family: $primaryFont;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
        .left {
            width: 100%;
            @include desktop {
                width: 40%;
            }
        }
        .right {
            width: 100%;
            @include desktop {
                width: 58%;
            }
        }
        .error-message {
            display: none;
            position: absolute;
            top: 1rem;
            left: 25%;
            padding: 0.5rem;
            background-color: lighten($accentColor, 50%);
/*            border: 1px solid $accentColor;*/
            border-radius: 2px;
            font-family: $primaryFont;
            font-weight: bold;
            color: $accentColor;
            font-size: 1.1rem;
            z-index: 2;
        }
    }
    .sending-info {
        display: none;
        margin: 1rem auto;
        padding: 1rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        font-family: $headerFont;
        font-size: 1.1rem;
    }

    .success {
        background-color: lighten($secondaryColor, 60%);
        border-color: $secondaryColor;
    }

    .error {
        background-color: lighten($accentColor, 60%);
        border-color: 1px solid $accentColor;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            font-family: $headerFont;
            width: 10rem;
            margin: 0.5rem 1vw 0;
            background-color: transparentize($secondaryColor, 0.3);
            border-radius: 2%;
            padding: 0.5rem 0;
            text-align: center;
        }
    }
}