/* ----------------- b2b contact form style --------------------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5vh 1.5vw;
    background-color: transparentize($altColor, 0.6);
    > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
        > div {
            width: 100%;
            &:first-child {
                @include desktop {
                    width: 40%;
                }
            }
            &:last-child {
                @include desktop {
                    width: 58%;
                }
            }
        }
    }
    label {
        width: 100%;
        font-family: $headerFont;
        font-size: 1.1rem;
        position: relative;
    }
    input {
        width: 100%;
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        font-family: $primaryFont; 
    }
    .error-message {
            display: none;
            padding: 0.5rem;
            border-radius: 2px;
            font-family: $primaryFont;
            font-size: 1.1rem;
            font-weight: bold;
            color: $accentColor;
            background-color: lighten($accentColor, 50%);
            position: absolute;
            top: 1rem;
            left: 25%;
            z-index: 2;
        }
    .fa {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 2.7rem;
    }
    .fa-check-square {
        display: none;
        color: $secondaryColor;
    }
    .fa-minus-square {
        display: none;
        color: $accentColor;
    }
    textarea {
        width: 100%;
        height: 16rem;
        margin-top: 0.5rem;
        border: none;
        resize: none;
        font-family: $primaryFont;
    }
    > div:nth-child(2), > div:nth-child(3) {
        display: none;
        margin: 1rem auto;
    }
    > div:nth-child(2) {
        width: 2rem;
        height: 2rem;
        border: 3px solid lighten($altColor, 50%);
        border-top: 3px solid lighten($secondaryColor, 20%);
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
    }
    > div:nth-child(3) {
        padding: 1rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        font-family: $headerFont;
        font-size: 1.1rem;
    }
    .success {
        background-color: lighten($secondaryColor, 60%);
        border-color: $secondaryColor;
    }
    .error {
        background-color: lighten($accentColor, 60%);
        border-color: 1px solid $accentColor;
    }
    > div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            font-family: $headerFont;
            width: 10rem;
            margin: 0.5rem 1vw 0;
            background-color: transparentize($secondaryColor, 0.3);
            border-radius: 2%;
            padding: 0.5rem 0;
            text-align: center;
        }
    }
}