/* ----------------- some general stuff --------------------*/

body {
    background-color: $primaryColor;
    color: $textColor;
}

.container {
    width: 95vw;
    margin: 0 auto;
    @include tablet {
        width: 90vw;
    }
    @include tablet-landscape {
        width: 85vw;
    }
    @include desktop {
        width: 80vw;
        max-width: 1200px;
    }
}

.padded {
    padding-top: 8vh;
}

h1, h2, h3 {
    font-family: $headerFont;
}

p {
    font-family: $primaryFont;
    line-height: 1.8;
    @include tablet-landscape {
        font-size: 1.1rem;
    }
    @include desktop {
        font-size: 1.1rem;
    }
}

hr {
    width: 30vw;
    margin: 0 auto;
    color: $secondaryColor;
}