/* ----------------- header style --------------------*/

header {
    height: 100vh;
    width: 100%;
    position: relative;
    > div { /* darkens and reduces contrast of header photo */
        width: 100%;
        height: 55vh;
        background-color: transparentize($textColor, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include mobile-landscape {
            height: 55vh;
        }
        @include tablet {
            height: 65vh;
        }
        @include tablet-landscape {
            height: 60vh;
        }
        @include desktop {
            height: 70vh;
        }   
    }
    section { /* holds general info about website */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 45vh;
        @include mobile-landscape {
            height: 45vh;
        }
        @include tablet {
            height: 35vh;
        }
        @include tablet-landscape {
            height: 40vh;
        }
        @include desktop {
            height: 30vh;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-image: $headerMobileImage;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include mobile-landscape {
        height: 55vh;
    }
    @include tablet {
        height: 65vh;
        background-image: $headerTabletImage;
    }
    @include tablet-landscape {
        height: 60vh;
        background-image: $headerTabletImage;
    }
    @include desktop {
        height: 70vh;
        background-image: $headerDesktopImage;
    }
    > a { /* large logo on header image */
        display: block;
        width: 100%;
        height: inherit;
        background-image: $logoImageWhite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80vw;
        z-index: 1;
        @include mobile-landscape {
            background-size: 40vw;
        }
        @include tablet {
            background-size: 70vw;
        }
        @include tablet-landscape {
            background-size: 35vw;
        }
        @include desktop {
            background-size: 30vw;
        }
    }
    > div { /* container for menu position */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
        @include mobile-landscape {
            position: fixed;
            top: 0;
        }
        @include tablet {
            align-items: center;
            position: absolute;
            top: 7vh;
            height: 4rem;
        }
        @include tablet-landscape {
            align-items: center;
            position: absolute;
            top: 7vh;
            height: 4rem;
        }
        @include desktop {
            align-items: center;
            position: absolute;
            top: 7vh;
            height: 4rem;
        }
    }
    ul { /* menu list */
        display: none;
        margin-top: 1.4rem;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
        @include tablet-landscape {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
        @include desktop {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
    }
    li { /* menu list item */
        height: 1.6rem;
        text-align: right;
        margin: .4rem 1rem 0 0;
        @include tablet {
            height: auto;
            margin-top: 0;
        }
        @include tablet-landscape {
            height: auto;
            margin-top: 0;
        }
        @include desktop {
            height: auto;
            margin-top: 0;
        }
        a {
            font-family: $headerFont;
            text-transform: uppercase;
            @include tablet {
                font-size: 1.3rem;
            }
            @include tablet-landscape {
                font-size: 1.1rem;
            }
            /* animated middle-out-underline effect on hover */
            &::after {
                display: block;
                content: '';
                width: 0;
                height: 2px;
                margin: auto;
                background: transparent;
                transition: width .5s ease-in-out, background-color .5s ease-in-out;
            }
            &:hover::after {
                width: 100%;
                background-color: $primaryColor;
            }
        }
    }
}

/* effects for mobile menu */
.mobile-closed { /* when menu not displayed */
    width: 0;
    height: 0;
    border-bottom-left-radius: 100%;
    background-color: transparent;
    position: fixed;
    right: 0;
    top: 0;

}
.mobile-open { /* background for displayed menu */
    width: 80vw;
    height: 80vw;
    background-color: $textColor;
    border-bottom-left-radius: 100%;
    position: fixed;
    right: 0;
    top: 0;
    @include mobile-landscape {
        width: 80vh;
        height: 80vh;
    }
}


.menu-container { /* actual menu bar */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: width .5s ease, height .5s ease, background-color .75s ease;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        height: 100%;
        margin: 0 auto;
    }
    @include tablet-landscape {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85vw;
        height: 100%;
        margin: 0 auto;
    }
    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    > a { /* logo image displayed on scroll after leaving header image */
        visibility: hidden;
        display: block;
        opacity: .8;
        background-image: $logoImageWhite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include tablet {
            width: 15vw;
            height: 4rem;
        }
        @include tablet-landscape {
            width: 10vw;
            height: 3.875rem;
        }
        @include desktop {
            width: 5.5vw;
            height: 3.625rem;
        }
    }
}

.mobile-menu-icon { /* mobile hamburger menu */
    width: 1.25rem;
    height: 1.25rem;
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
    position: relative;
    cursor: pointer;
    span {
        display: block;
        width: 50%;
        height: .125rem;
        background-color: $primaryColor;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(even) {
            border-radius: 0 25% 25% 0;
            right: 0;
        }
        &:nth-child(odd) {
            border-radius: 25% 0 0 25%;
            left: 0;
        }
        &:nth-child(1), &:nth-child(2) {
            top: 0;
        }
        &:nth-child(3), &:nth-child(4) {
            top: .5625rem;
        }
        &:nth-child(5), &:nth-child(6) {
            bottom: 0;
        }
    }
    &.open {
        span {
            &:nth-child(1), &:nth-child(6) {
                transform: rotate(45deg);
            }
            &:nth-child(2), &:nth-child(5) {
                transform: rotate(-45deg);
            }
            &:nth-child(1) {
                top: 28%;
                left: 10%;
            }
            &:nth-child(2) {
                top: 28%;
                right: 10%;
            }
            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }
            &:nth-child(4) {
                right: -100%;
                opacity: 0;
            }
            &:nth-child(5) {
                bottom: 28%;
                left: 10%
            }
            &:nth-child(6) {
                bottom: 28%;
                right: 10%;
            }
        }
    }
}

.sticky { /* tablet and desktop menu bar sticky style after scroll */
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparentize($textColor, 0.7);
}

.darker { /* tablet and desktop menu bar darkening after leaving header image */
    animation-name: darkenNavbar;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

/* simple spinner on page loading */

$size: 50px;

.preload { 
    width: 100vw;
    height: 100vh;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    .page-loader {
        width: $size*5;
        height: $size*5;
        background-color: transparentize($altColor, .6);
        border-radius: 50%;
        box-shadow: 0 0 20px transparentize($altColor, .6);
        animation: spinner 4s ease-in-out infinite;
    }
    .bean {
        position: relative;
        border-bottom-left-radius: $size*1.5 $size*2;
        border-top-left-radius: $size*1.5 $size*2;
        border-top-right-radius: $size*1.5 $size*2;
        border-bottom-right-radius: $size*1.5 $size*2;
        .half-bean {
            width: $size*.75;
            height: $size*2;
            background-color: desaturate($altColor, 15%);
            position: absolute;
            &:first-child {
                border-bottom-left-radius: $size*1.5 $size*2;
                border-top-left-radius: $size*1.5 $size*2;
                left: 1px;
            }
            &:last-child {
                border-top-right-radius: $size*1.5 $size*2;
                border-bottom-right-radius: $size*1.5 $size*2;
                left: $size*.75+2px;
            }
        }
        .fill {
            width: 3px;
            height: $size*2;
            background-color: transparentize($altColor, .4);
            position: absolute;
            left: $size*.75;
        }
        &:nth-of-type(1){
            top: 0;
            left: $size*1.25;
            transform:rotate(-25deg);
        }
        &:nth-of-type(2){
            top: $size*4.25;
            left: $size*2.5;
            transform: rotate(55deg);
        }
        &:nth-of-type(3){
            top: $size*1;
            left: -$size*1.5;
            transform: rotate(-80deg);
        }
    }
}