/*

style for header

*/

header {
    height: 60vh;
    background-image: $headerMobileImage;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include tablet {
        height: 65vh;
        background-image: $headerTabletImage;
    }
    @include desktop {
        height: 70vh;
        background-image: $headerDesktopImage;
    }
    nav {
        background-color: transparentize($textColor, 0.8);
        height: inherit;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span.fa {
            font-size: 1.8rem;
            color: $primaryColor;
            @include tablet {
                display: none;
            }
            @include desktop {
                display: none;
            }
        }
        a.logo {
            display: block;
            background-image: $logoImageWhite;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 80vw;
            height: 56.3976vw;
            @include desktop {
                width: 30vw;
                height: 21.1491vw;
            }
        }
    }
}

/*

page navigation

*/

ul {
    width: 100%;
    background-color: transparentize($textColor, 0.7);
    padding: 2vh 0;
    display: none;
    @include tablet {
        display: block;
    }
    @include desktop {
        display: block;
    }
    .menu {
        display:none;
        @include tablet {
            font-size: 1.33rem;
            display: flex;
            justify-content: flex-end;
        }
        @include desktop {
            display: flex;
            justify-content: flex-end;
        }
        li {
            a {
                color: $primaryColor;
                text-transform: uppercase;
            }
            &:hover {
                text-decoration: underline;
            }
            @include tablet {
                text-align: right;
                padding-left: 4vw;
            }
            @include desktop {
                text-align: right;
                padding-left: 4vw;
            }
        }
    }
}