/* ----------------- header style --------------------*/

header {
    height: 100vh;
    width: 100%;
    position: relative;
    > div {
        /* darkening layer for background photo */
        width: 100%;
        height: 55vh;
        background-color: transparentize($textColor, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include mobile-landscape {
            height: 55vh;
        }
        @include tablet {
            height: 65vh;
        }
        @include tablet-landscape {
            height: 60vh;
        }
        @include desktop {
            height: 70vh;
        }   
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 45vh;
        @include mobile-landscape {
            height: 45vh;
        }
        @include tablet {
            height: 35vh;
        }
        @include tablet-landscape {
            height: 40vh;
        }
        @include desktop {
            height: 30vh;
        }
        h1 {
            font-size: 2.2rem;
            text-align: center;
            text-transform: uppercase;
            @include tablet {
                font-size: 2.66rem;
            }
            @include tablet-landscape {
                font-size: 2.66rem;
            }
            @include desktop {
                font-size: 3rem;
            }
            & + p {
                text-align: center;
                font-size: 1rem;
                @include tablet {
                    font-size: 1.33rem;
                }
                @include tablet-landscape {
                    font-size: 1.13rem;
                }
                @include desktop {
                    font-size: 1.33rem;
                }
            }
        }
    }
}

/*

page navigation

*/

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-image: $headerMobileImage;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include mobile-landscape {
        height: 55vh;
    }
    @include tablet {
        height: 65vh;
        background-image: $headerTabletImage;
    }
    @include tablet-landscape {
        height: 60vh;
        background-image: $headerTabletImage;
    }
    @include desktop {
        height: 70vh;
        background-image: $headerDesktopImage;
    }
    > a {
        display: block;
        width: 100%;
        height: inherit;
        background-image: $logoImageWhite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80vw;
        z-index: 1;
        @include mobile-landscape {
            background-size: 40vw;
        }
        @include tablet {
            background-size: 70vw;
        }
        @include tablet-landscape {
            background-size: 35vw;
        }
        @include desktop {
            background-size: 30vw;
        }
    }
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    @include mobile-landscape {
        position: fixed;
        top: 0;
    }
    @include tablet {
        align-items: center;
        position: absolute;
        top: 4rem;
        height: 4rem;
    }
    @include tablet-landscape {
        align-items: center;
        position: absolute;
        top: 4rem;
        height: 4rem;
    }
    @include desktop {
        align-items: center;
        position: absolute;
        top: 4rem;
        height: 4rem;
    }
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: width .5s ease, height .5s ease, background-color .75s ease;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 90vw;
        }
        @include tablet-landscape {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 85vw;
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80vw;
            max-width: 1200px;
        }
        > a {
            visibility: hidden;
            @include tablet {
                width: 15vw;
                height: 4rem;
            }
            @include tablet-landscape {
                width: 10vw;
                height: 3.875rem;
            }
            @include desktop {
                width: 5.5vw;
                height: 3.625rem;
            }
            display: block;
            opacity: .8;
            background-image: $logoImageWhite;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    /* effects for mobile menu */
    .mobile-closed {
        width: 0;
        height: 0;
        border-bottom-left-radius: 100%;
        background-color: transparent;
        position: fixed;
        right: 0;
        top: 0;

    }
    .mobile-open {
        width: 80vw;
        height: 80vw;
        background-color: $textColor;
        border-bottom-left-radius: 100%;
        position: fixed;
        right: 0;
        top: 0;
        @include mobile-landscape {
            width: 80vh;
            height: 80vh;
        }
    }
    ul {
        display: none;
        margin-top: 1.4rem;
        @include tablet {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
        @include tablet-landscape {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
        @include desktop {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0;
        }
    }
    li {
        height: 1.6rem;
        text-align: right;
        margin: .4rem 1rem 0 0;
        @include tablet {
            height: auto;
            margin-top: 0;
        }
        @include tablet-landscape {
            height: auto;
            margin-top: 0;
        }
        @include desktop {
            height: auto;
            margin-top: 0;
        }
        a {
            font-family: $headerFont;
            color: $primaryColor;
            text-transform: uppercase;
            @include tablet {
                font-size: 1.3rem;
            }
            @include tablet-landscape {
                font-size: 1.1rem;
            }
            &::after {
                display: block;
                content: '';
                width: 0;
                height: 2px;
                margin: auto;
                background: transparent;
                transition: width .5s ease-in-out, background-color .5s ease-in-out;
            }
            &:active::after {
                width: 100%;
                background-color: $primaryColor;
            }
            &:hover::after {
                width: 100%;
                background-color: $primaryColor;
            }
        }
    }
}

/*

hamburger menu

*/

.fixed-nav-border {
    width: 2.5rem;
    height: 2.5rem;
    margin: .25rem;
    padding: .5rem;
    border: .125rem solid $primaryColor;
    background-color: transparentize($textColor, .2);
    border-radius: 50%;
    z-index: 2;
    @include tablet {
        display: none;
    }
    @include tablet-landscape {
        display: none;
    }
    @include desktop {
        display: none;
    }
}
.mobile-menu-icon {
    width: 1.25rem;
    height: 1.25rem;
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
    position: relative;
    cursor: pointer;
    span {
        display: block;
        width: 50%;
        height: .125rem;
        background-color: $primaryColor;
        opacity: 1;
        position: absolute;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(even) {
            border-radius: 0 25% 25% 0;
            right: 0;
        }
        &:nth-child(odd) {
            border-radius: 25% 0 0 25%;
            left: 0;
        }
        &:nth-child(1), &:nth-child(2) {
            top: 0;
        }
        &:nth-child(3), &:nth-child(4) {
            top: .5625rem;
        }
        &:nth-child(5), &:nth-child(6) {
            bottom: 0;
        }
    }
    &.open {
        span {
            &:nth-child(1), &:nth-child(6) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(2), &:nth-child(5) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:nth-child(1) {
                top: 28%;
                left: 10%;
            }
            &:nth-child(2) {
                top: 28%;
                right: 10%;
            }
            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }
            &:nth-child(4) {
                right: -100%;
                opacity: 0;
            }
            &:nth-child(5) {
                bottom: 28%;
                left: 10%
            }
            &:nth-child(6) {
                bottom: 28%;
                right: 10%;
            }
        }
    }
}

/*

sticky menu for tablet & desktop

*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparentize($textColor, 0.7);
}

.darker {
    animation-name: darkenNavbar;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

/* 

spinner while page loading

*/

.preload {
    width: 100vw;
    height: 100vh;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    .page-loader {
        width: 15vh;
        height: 15vh;
        border-top: 10px solid $secondaryColor;
        border-left: 10px solid $altColor;
        border-bottom: 10px solid $secondaryColor;
        border-right: 10px solid $altColor;
        border-radius: 50%;
        animation: spinner 2s ease-in-out infinite;
    }
}

