/*

slider for posts

*/

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @include tablet {
        justify-content: space-between;
    }
    @include desktop {
        justify-content: space-between;
    }
    .wrapper-arrow {
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
        color: $accentColor;
    }
    .post-wrapper {
        order: -1;
        overflow: hidden;
        @include tablet {
            order: 0;
            width: 90%;
        }
        @include desktop {
            order: 0;
            width: 90%;
        }
        .wrapper-content {
            width: 300%;
            display: flex;
            justify-content: flex-start;
            .post {
                width: 95vw;
                @include tablet {
                    width: 33.3333%;
                    padding-left: 0;
                    padding-right: 0;
                }
                @include desktop {
                    width: 33.3333%;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}