form {
    width: 100%;
    background-color: transparentize($altColor, 0.6);
    padding: 1.5vh 1.5vw;
    @include desktop {
        height: 60vh;
    }
    .form-field {
        border: none;
    }
    .inputs {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            height: 85%;
        }
        div {
            width: 100%;
            &:first-child {
                @include desktop {
                    width: 40%;
                }
            }
            &:last-child {
                @include desktop {
                    width: 58%;
                }
            }
        }
        input {
            margin-top: 0.7rem;
            margin-bottom: 1.2rem;
            @include desktop {
                width: 100%;
                margin-top: 1rem;
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include desktop {
            height: 15%;
        }
        input {
            font-family: $headerFont;
            width: 10rem;
            margin: 0 1vw;
            background-color: transparentize($secondaryColor, 0.3);
            border-radius: 2%;
        }
    }
}

label {
    font-family: $headerFont;
    font-size: 1.4rem;
    display: block;
}
input {
    font-family: $primaryFont;
    border: none;
    height: 3rem;
}
textarea {
    font-family: $primaryFont;
    border: none;
    resize: none;
    width: 100%;
    height: 16rem;
    margin-top: 1rem;
    text-align: left;
}