/*

style for images gallery

*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 5vh;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    @include desktop {
        justify-content: space-between;
        height: 75vh;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 110vh;
        @include tablet {
            width: 48%;
            height: 82.5vh;
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 36vh;
        }
        div {
            width: 100%;
            height: 35vh;
            @include tablet {
                height: 25vh;
            }
            @include desktop {
                height: 36vh;   
            }
            &.rect {
                @include desktop {
                    width: 36%;
                }
            }
            &.narrow {
                @include desktop {
                    width: 23%;
                }
            }
            &.wide {
                @include desktop {
                    width: 49.25%;
                }
            }
        }
    }
}