@keyframes darkenNavbar {
    0% {background-color: transparentize($textColor, 0.7);}
    100% {background-color: transparentize($textColor, 0.025);}
}

@keyframes slideUp {
    0% {
        transform: translateY(40vh);
    }
    100% {
        transform: translateY(0vh);
    }	
}

@keyframes spinner {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}
