/* FONTS */

/*$primaryFont: 'PT Sans', sans-serif;*/
$primaryFont: 'Merriweather', sans-serif;
$headerFont: 'Oswald', sans-serif;

/* COLORS */
$primaryColor: #FBF9E9;
$altColor: #C8C84F;
$secondaryColor: #5A6116;
$textColor: #140702;
$accentColor: #761202;

/* MEDIA */
$tablet: "768px";
$desktop: "1025px";

/* IMAGES */

/* logo */

$logoImageWhite: url(./img/anfrawer_logo_wh.png);

/* header, sections, footer images */

$headerMobileImage: url(./img/headerMobileBg.jpg);
$headerTabletImage: url(./img/headerTabletBg.jpg);
$headerDesktopImage: url(./img/headerDesktopBg.jpg);

$footerMobileImage: url(./img/footerMobileBg.jpg);
$footerTabletImage: url(./img/footerTabletBg.jpg);
$footerDesktopImage: url(./img/footerDesktopBg.jpg);